@import '../base/placeholders';
@import '../base/variables';

header {
    section.top {
        padding-top: 41px;
        width: 100%;
        .nav-top {
            display: grid;
            grid-template-columns: 20% 80%;
            .menu-category {
                margin: 0 20px;
                padding: 0 10px;
                z-index: 5;
                .icon-category {
                    cursor: pointer;
                    svg {
                        height: 24px;
                        g {
                            rect {
                                fill: $third-color;
                            }
                        }
                    }
                }
                .nav-category {
                    position: absolute;
                    top: 95px;
                    left: 10.5%;
                    padding: 25px 20px;
                    border: 2px solid $color-primary;
                    box-shadow: 10px 10px 0 0 $color-primary;
                    @extend %u-bakground-color-secondary;
                    svg {
                        position: absolute;
                        height: 12px;
                        top: -14px;
                        left: -20px;
                    }
                    .category-game {
                        margin: 0 32px;
                        h4 {
                            margin: 15px 0;
                            font-size: $font-size-text-category-title;
                            @extend %u-third-color;
                        }
                        ul {
                            a {
                                @extend %u-third-color;
                                li {
                                    margin: 15px 0;
                                    font-size: $font-size-text-category-game;
                                }
                            }
                        }
                    }
                }
            }
            .logo {
                margin: 0 26px;
                height: 39.06px;
                z-index: 5;
                a{
                    z-index: 6;
                    img {
                        height: 39.06px;
                    }
                }
            }
            .nav-menu {
                list-style: none;
                justify-content: flex-end;
                margin: 0;
                z-index: 5;
                .nav-icon {
                    li {
                        padding: 0 41px;
                        border-right: solid 1px $fourth-color;
                        text-transform: uppercase;
                        font-size: $font-size-text-nav-top;
                        @extend %u-third-color;
                        svg {
                            margin-right: 10px;
                            path {
                                fill: $third-color;
                            }
                        }
                        sup {
                            padding: 5px 8px;
                            font-size: 12px;
                            border-radius: 15px;
                            @extend %u-bakground-color-primary;
                        }
                    }
                }
                .paper-plane {
                    svg {
                        height: 21.31px;
                        margin-top: -7px;
                    }
                    
                }
                .search-solid {
                    svg {
                        height: 25.72px;
                    }
                    
                }
                .shopping-bag-solid {
                    li {
                        border-right: none;
                        padding-right: 0;
                    }
                    svg {
                        height: 26px;
                    }
                }
            }
        }
        .slider-top-content {
            position: relative;
            width: 100%;
            height: 840px;
            margin-top: -80px;
            top: 0;
            @extend %u-third-color;
            #slider-top-banner-1 {
                background-image: url("../../../src/img/principal_banner_desktop.jpg");
            }
            #slider-top-banner-2 {
                background-image: url("../../../src/img/principal_banner_desktop_02.jpg");
            }
            .slider-top {
                
                display: flex;
                justify-content: flex-end;
                background-size: cover;
                background-position: center;
                height: 840px;
                @extend %u-third-color;
                .info-slider {
                    width: 427px;
                    margin-right: 15%;
                    h5 {
                        text-transform: uppercase;
                        font-size: $font-size-text-slider-title;
                    }
                    h6 {
                        text-transform: uppercase;
                        margin: 20px 0;
                        font-size: $font-size-text-slider-price;
                        @extend %u-color-primary;
                        sup {
                            font-size: $font-size-text-slider-sup;
                        }
                    }
                    p {
                        font-size: $font-size-text-slider-info;
                    }
                }
            }
        }
        .select-slider {
            position: absolute;
            right: -159px;
            top: 380px;
            width: 417px;
            display: grid;
            grid-template-columns: 300px 117px;
            transform: rotate(90deg);
            @extend %u-third-color;
            .select-slider-title {
                justify-content: space-around;
                height: 100px;
                padding: 0 10px;
                @extend %u-bakground-color-primary;
                h3 {
                    text-transform: uppercase;
                    font-size: $font-size-text-slider-select;
                }
                .line {
                    width: 63px;
                    border-bottom: 1px solid $third-color;
                }
            }
            .select-slider-icon {
                height: 100px;
                justify-content: center;
                @extend %u-bakground-color-secondary;
                h6 {
                    transform: rotate(-90deg); 
                    font-size: $font-size-text-slider-select;
                }
                .icon-angle {
                    transform: rotate(-90deg);
                    .slider-button {
                        background: none;
                        border: none;
                        height: 24.86px;
                        margin: 0 4px;
                    }
                    svg {
                        path {
                            fill: $third-color;
                        }
                    }
                }
            }
            
        }
    }
}
