// ==========================================================================
// Colors  
// ==========================================================================
$color-primary: #3EC6E0;
$color-secondary: #084154;
$third-color: #fff;
$fourth-color: #D2D2D2;
$fifth-color: #EBEBEB;
// ==========================================================================
// Fonts
// ==========================================================================
$font-size-text-nav-top: 16px;
$font-size-text-category-title: 16px;
$font-size-text-category-game: 14px;
$font-size-text-slider-title: 50px;
$font-size-text-slider-price: 80px;
$font-size-text-slider-sup: 40px;
$font-size-text-slider-info: 18px;
$font-size-text-slider-select: 18px;
$font-size-text-secondary-title: 32px;
$font-size-text-featured-title: 20px;
$font-size-text-featured-price: 32px;
$font-size-text-featured-price-sup: 16px;
$font-size-text-featured-buy: 18px;

